.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 10px 10px rgba(236, 236, 236, 0.733);
  width: 100%;
  background-color: white;
}
.nav div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav p{
  margin: 15px
}
.nav p a{
  margin: 15px;
  /* text-decoration: none; */
  color: black;
}
.nav button{
  margin-right: 30px;
  padding: 7px 30px 9px;
}
.nav h1{
  margin-left: 30px;
}
.nav i{
  margin-left: 30px;
  font-size: 30px;
}
.fa-desktop{
  border-right: 1px solid black;
  padding-right: 30px;
  margin-left: 60px !important;
  color: rgb(54, 190, 253);
}
.header{
  padding-top: 30px;
  position: relative;
  height: 300px;
}
.header-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}
.header-text ul, a{
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: all 1s;
}
.header-text .list{
  width: 50%;
}
.header-text p{
  font-size: 22px;
  color: white;
}

.women-img{
  position: absolute;
  top: 150px;
  left: 250px;
  z-index: 2;
}
.women-img img{
  width: 85%;
}
.text-title{
  position: absolute;
  z-index: 22;
  right: 350px;
  top: 135px;
}
.text-title h1{
  font-size: 70px;
  font-style: italic;
  color: rgb(248, 99, 31);
}
.text-title p{
  font-size: 25px;
  color: white;
}
.text-img{
  background-image: url(/public/img/night.jpg);
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -55;
  background-size: 100%;
  position:fixed;
}

.head{
  display: flex;
  justify-content: space-between;
  z-index: 22;
  position: absolute;
  top: 500px;
  background-color: rgba(36, 34, 34, 0.76);
  right: 16.5%;
  left: 16.5%;
  padding: 30px;
  color: white;
  height: 600px;
}
.text-p{
  background-color: rgb(197, 85, 20);
  width: 220px;
  padding: 0px 5px;
  font-size: 20px;
  margin-left: -29.5px
}
.text-span{
  display: inline-block;
  width: 22px;
  background-color: rgb(36, 34, 34);
  height: 22px;
  transform: rotate(45deg);
  position: absolute;
  top: 34px;
  left: 210px;
}
.text-p1{
  font-size: 43px;
}
.text-p2{
  font-size: 18px;
  margin-top: 40px;
}
.text-p3{
  font-size: 22px
}
.head button{
  color: rgb(197, 85, 20);
  border: 1px solid;
  width: 100px;
  transition: all 0.9s;
}
.head button:hover{
  background-color: rgb(197, 85, 20);
}
.header-title{
  width: 400px;
}
.title-img{
  height: 550px;
  width: 500px ;
  padding-left: 60px;
}
.title-img img{
  width: 100%;
  height: 100%;
}
.praise{
  height: 850px;
  background-color: rgb(31, 27, 27);
  margin-top: 950px;
  color: white;
  position: relative;
}
.praise h1{
  color: rgb(197, 85, 20);
  margin-top: 60px;
  font-size: 45px;
}
.praise-span{
  display: inline-block;
  width: 30px;
  height: 100px;
  background-color: rgb(197, 85, 20);
  position: absolute;
  right: 150px;
  top: 0px;
}
.praise-span1{
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: rgb(31, 27, 27);
  position: absolute;
  right: 153px;
  top: 89px;
  transform: rotate(45deg)
}
.simbol{
  font-size: 90px;
  color: rgb(197, 85, 20);
  margin-bottom: 0px;
}
.sim-text{
  font-size: 18px;
}
.sim-text1{
  font-size: 18px;
  padding: 50px 80px;
  color: rgb(197, 85, 20);
}
.see{
  height: 2015px;
  background-color: rgb(20, 20, 20);
}
.see-text1{
  margin-top: 80px;
  color: rgb(197, 85, 20);
  font-size: 40px;
}
.see-text2{
  color: white;
  width: 300px;
  margin: 0 auto;
}

.see-list{
  width: 90%;
  margin: 0 auto;
  border: 2px solid white;
  padding: 70px 150px 20px;
}
.see-list-text{
  font-size: 27px;
  color: white;
}
.see-list-btn{
  color: rgb(197, 85, 20);
  border: 1px solid;
  width: 200px;
  transition: all 0.9s;
  margin: 30px 40%;
}
.see-list-btn:hover{
  background-color: rgb(197, 85, 20);
}
.about{
  width: 100%;
  height: 600px;
  margin-top: 200px;
}
.avatar{
  margin-left: 41%;
}
.avatar img{
  border-radius: 50%;
  margin-top: -50px;
}
.about-text1{
  font-size: 35px;
  color: rgb(197, 85, 20);
  margin-top: 30px;
}
.about-text2{
  color: white;
  width: 420px;
  margin: 0 auto;
}
.read{
  color: rgb(197, 85, 20);
  border: 1px solid;
  width: 200px;
  transition: all 0.9s;
  margin: 30px 43%;
}
.read:hover{
  background-color: rgb(197, 85, 20);
}
footer{
  background-color: rgb(197, 85, 20);
  height: 80px;
}
footer p{
  color: white;
}
.avatar-h{
  position: relative;
}
.avatar-span{
  width: 30px;
  height: 100px;
  background-color: rgb(197, 85, 20);
  position: absolute;
  top: 50%;
  right: 15%;
}
.avatar-span1{
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  right: 118px;
  top: 89px;
  transform: rotate(45deg);
}
